notes.txt
*__pycache__*
input/
output/
test.py
helpers/moving_test.py
helpers/belarus_map.png
.DS_Store
maps/
infrastructure/clickhouse/
infrastructure/grafana/
infrastructure/minio/
infrastructure/kafka/compose.md
infrastructure/kafka/README.md
.cursor
.codex
.claude
graph-memory/
graphify-out/
AGENT*
.graphifyignore
example.md