notes.txt
*__pycache__*
input/
output/
test.py
helpers/moving_test.py
helpers/belarus_map.png
.DS_Store
maps/
infrastructure/kafka/data/
infrastructure/kafka/compose.md
infrastructure/kafka/README.md
